DROP TABLE IF EXISTS Avis CASCADE;
DROP TABLE IF EXISTS Categorie CASCADE;
DROP TABLE IF EXISTS Film CASCADE;
DROP TABLE IF EXISTS Utilisateur CASCADE;

CREATE TABLE Avis(
	IdFilm int NOT NULL,
	IdUtilisateur int NOT NULL,
	commentaire varchar(1000) NULL,
	note numeric NOT NULL,
 	CONSTRAINT PK_Avis PRIMARY KEY (IdFilm, IdUtilisateur)
);

CREATE TABLE Categorie(
	IdCategorie int GENERATED BY DEFAULT AS IDENTITY,
	nom varchar(50) NOT NULL,
	description text NULL,
 	CONSTRAINT PK_Categorie PRIMARY KEY (IdCategorie)
);

CREATE TABLE Film(
	IdFilm int GENERATED BY DEFAULT AS IDENTITY NOT NULL,
	nom varchar(50) NOT NULL,
	description text NULL,
	IdCategorie int NOT NULL,
 	CONSTRAINT PK_Film PRIMARY KEY (IdFilm)
);

CREATE TABLE Utilisateur(
	IdUtilisateur int GENERATED BY DEFAULT AS IDENTITY NOT NULL,
	login varchar(50) NOT NULL,
	email varchar(100) NOT NULL,
	pwd varchar(64) NOT NULL,
 	CONSTRAINT PK_Utilisateur PRIMARY KEY (IdUtilisateur)
);

INSERT INTO Avis(IdFilm, IdUtilisateur, commentaire, note) VALUES (1, 544, NULL, 0.2811910218005958);
INSERT INTO Avis(IdFilm, IdUtilisateur, commentaire, note) VALUES (1, 546, 'Cool !!', 0.81165422443843183);
INSERT INTO Avis(IdFilm, IdUtilisateur, commentaire, note) VALUES (1, 548, 'Passable', 0.48671064455374641);

INSERT INTO Categorie(idcategorie, nom, description) VALUES (1, 'Action', 'Nouvelle description des films d''actions 22/01/2016 10:00:04');
INSERT INTO Categorie(idcategorie, nom, description) VALUES (2, 'Aventure', 'Film d''aventure');
INSERT INTO Categorie(idcategorie, nom, description) VALUES (3, 'Horreur', 'Film d''horreur');

INSERT INTO Film(IdFilm, nom, description, IdCategorie) VALUES (1, 'Vertigo', 'Scottie Ferguson, ancien inspecteur de police, est sujet
au vertige depuis qu''il a vu mourir son
 collegue. Elster, son ami, le charge de surveiller sa femme, Madeleine, ayant des tendances
 suicidaires. Amoureux de la jeune femme Scottie ne remarque pas le piege qui se trame autour
 de lui et dont il va etre la victime... ', 5);
INSERT INTO Film(IdFilm, nom, description, IdCategorie) VALUES (2, 'Alien', 'Pres d''un vaisseau spatial echoue sur une lointaine planete, des Terriens en mission decouvrent
 de bien etranges ''oeufs''. Ils en ramenent un a bord, ignorant qu''ils viennent d''introduire parmi
 eux un huitieme passager particulierement feroce et meurtrier. ', 6);
INSERT INTO Film(IdFilm, nom, description, IdCategorie) VALUES (3, 'Titanic', 'Conduite par Brock Lovett, une expedition americaine fouillant l''epave du Titanic remonte a la
 surface le croquis d''une femme nue. Alertee par les medias la dame en question, Rose DeWitt
 Bukater, aujourd''hui centenaire, rejoint les lieux du naufrage, d''ou elle entreprend de conter le
 recit de son fascinant, etrange et tragique voyage... ', 5);

INSERT INTO Utilisateur(idUtilisateur, login, email, pwd) VALUES (542, 'adam', 'adam@gmoil.com', '3bcf78020b67db433180c2b348a5310384e43b82760d17e137');
INSERT INTO Utilisateur(idUtilisateur, login, email, pwd) VALUES (543, 'alex', 'alex@gmoil.com', 'ab06c7aaa2ebd9e1a027ce7011f2fdc77f9ab65ed20d86078e');
INSERT INTO Utilisateur(idUtilisateur, login, email, pwd) VALUES (544, 'alexandre', 'alexandre@gmoil.com', '54be47d42216ff3fed8298198fc1ea391d746056e35dad836f');


ALTER TABLE Avis  ADD  CONSTRAINT FK_Avis_Film FOREIGN KEY(IdFilm)
	REFERENCES Film (IdFilm) ON UPDATE RESTRICT ON DELETE RESTRICT;
ALTER TABLE Avis  ADD  CONSTRAINT FK_Avis_Utilisateur FOREIGN KEY(idutilisateur)
	REFERENCES Utilisateur (idutilisateur) ON UPDATE RESTRICT ON DELETE RESTRICT;
ALTER TABLE Film  ADD  CONSTRAINT FK_Film_Categorie FOREIGN KEY(idcategorie)
	REFERENCES Categorie (idcategorie) ON UPDATE RESTRICT ON DELETE RESTRICT;


